@inherits LayoutComponentBase

<PageTitle>BlazorFilmsApp</PageTitle>

<div class="">
    <div class="">
        <Nav />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
